html,body {
	margin: 0;
	padding: 0;
  background: linear-gradient(to top, #000000 0%, #808080 100%);
	font-family: 'Michroma', sans-serif;
	font-size: 90%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100vh;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
}
.profile-card {
	width: 500px;
	height: auto;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.profile-card:hover {
	cursor: crosshair;
}
.profile-card::before {
	content: '';
	height: 3px;
	width: 500px;
	margin-top: -3px;
	position: absolute;
	background: -webkit-linear-gradient(left, #f3cf3f 0%, #f33f58 100%);
	background: linear-gradient(left, #f3cf3f 0%, #f33f58 100%);
	background: -moz-linear-gradient(left, #f3cf3f 50%, #f33f58) -300px 0;
	background: -ms-linear-gradient(left, #f3cf3f 50%, #f33f58) -300px 0;
	background: linear-gradient(left, #f3cf3f 50%, #f33f58) -20px 0;
}
header {
	height: 175px;
	background: url('https://raw.githubusercontent.com/relnerdica/profilecard/master/images/nerdoffice.png');
	background-size: 100% 100%;
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
}
header h1,header h2 {
	font-weight: 300;
	color: #fff;
	margin: 40px 0 0 200px;
	padding: 10px 10px 0 10px;
	text-align: right;
	font-size: 1.85em;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
}
header h2 {
	font-size: 1em;
	margin: 85px 0 0 200px;
	text-transform: none;
}
header img {
	position: absolute;
	margin: 40px 20px 20px 70px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.profile-bio {
	margin: -175px 0 0 0;
	height: auto;
	width: 100%;
	padding: 0;
	visibility: hidden;
	z-index: 0;
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.profile-card:hover>.profile-bio {
	margin: 0;
	visibility: visible;
}
.profile-card:hover>.profile-social-links {
	margin: 0;
}
.profile-bio p {
	font-weight: 300;
	color: black;
	width: 480px;
	padding: 0 10px 0 10px;
	position: relative;
	line-height: 1.5em;
	font-size: 1em;
}
.profile-social-links {
	text-align: center;
	margin: -50px 0 0 0;
	padding: 5px 0 5px 0;
	background: #fff;
	border-top: 1px solid #e5e5e5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.profile-social-links li {
	list-style: none;
	display: inline-block;
	margin: 5px 10px 5px 10px;
	width: 20px;
	height: 20px;
	filter: contrast(0);
	-webkit-filter: contrast(0);
	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	border: 1px solid #000;
	border-radius: 100%;
	padding: 5px;
	text-align: center;
}
li img {
	width: 25px;
	height: 25px;
}
li:hover {
	filter: contrast(1);
	-webkit-filter: contrast(1);
	transition: all 0.5s ease-in-out;
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
li:nth-child(1):hover {
	border-color: #000000;
}
li:nth-child(2):hover {
	border-color: #000000;
}
li:nth-child(3):hover {
	border-color: #000000;
}